(
    name: "Ending",
    description: "you find out you were a frog in captivity having a nightmare",
    objects: [
        (obj_type: Player, pos: (-50.0, 16.0)),
        
        (obj_type: Mushroom, pos: (0.0, 16.0)),
        (obj_type: Mushroom, pos: (64.0, 64.0)),
        
        (obj_type: Tile(name: "grass", solid: true), pos: (-96.0, 0.0)),
        (obj_type: Tile(name: "grass", solid: true), pos: (-80.0, 0.0)),
        (obj_type: Tile(name: "grass", solid: true), pos: (-64.0, 0.0)),
        (obj_type: Tile(name: "grass", solid: true), pos: (-48.0, 0.0)),
        (obj_type: Tile(name: "grass", solid: true), pos: (-32.0, 0.0)),
        (obj_type: Tile(name: "grass", solid: true), pos: (-16.0, 0.0)),
        (obj_type: Tile(name: "grass", solid: true), pos: (00.0, 0.0)),
        (obj_type: Tile(name: "grass", solid: true), pos: (16.0, 0.0)),
        (obj_type: Tile(name: "grass", solid: true), pos: (32.0, 0.0)),
        (obj_type: Tile(name: "grass", solid: true), pos: (48.0, 0.0)),
        (obj_type: Tile(name: "grass", solid: true), pos: (64.0, 0.0)),
        (obj_type: Tile(name: "grass", solid: true), pos: (80.0, 0.0)),
        
        (obj_type: Tile(name: "grass", solid: true), pos: (48.0, 48.0)),
        (obj_type: Tile(name: "grass", solid: true), pos: (64.0, 48.0)),
        (obj_type: Tile(name: "grass", solid: true), pos: (80.0, 48.0)),
        
        (obj_type: Tile(name: "rock", solid: false), pos: (32.0, 16.0)),
    ],
)